#projects {
  text-align: center;
}

#projects h1 {
  margin: 5% 0 5%;
}

#projects a {
  text-decoration: none;
}

#title {
  background-color: #FEF9EF;
  font-family: "Enigmatic", sans-serif;
}

.nav-item {
  margin: 0, 18px;
}

.nav-link {
  padding: 0;
}

body {
  background-color: #DFD8CA;
}

#projects .bottom {
  margin-bottom: 5%;
}

#projects #links {
  background-color: #FBF3E4;
  font-family: "Enigmatic", sans-serif;
  margin-left: 10%;
  margin-right: 10%;
}

#projects i {
  height: 10px;
}

#links {
  color: #105652;
}

#links a {
  color: #105652;
}

#links a:hover {
  color: #B91646;
}

#img img {
  padding-left: 5%;
  padding-right: 5%;
}

i {
  margin-top: 5%;
  color: #105652;
}

i:hover {
  color: #B91646;
}
