#title {
  background-color: #FEF9EF;
  font-family: "Enigmatic", sans-serif;
}

#work-exp {
  background-color: #FF865E;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 10% 0;
}

#about {
  background-color: #FBF3E4;
  border-radius: 25px;
  padding: 5%;
  margin: 0 5% 5%;
}

#about .jane {
  color: #B91646;
  font-family: "JaneAusten", sans-serif;
}

#welcome {
  background-color: #DFD8CA;
  margin: 0;
  padding: 0;
}

.github {
  color: #105652;
  text-align: center;
}

.github:hover {
  color: #B91646;
}

#work-exp {
  border-radius: 25px;
  margin: 0 5% 5%;
}

#skills-interests {
  background-color: #FF865E;
  border-radius: 25px;
}

#edu {
  background-color: #FEE440;
}

#carousel {
  background-color: #B91646;
  border-radius: 25px;
  text-align: center;
  margin: 0 5% 5%;
}

#carousel .carousel-inner {
  border-radius: 25px;
}

.carou {
  height: 100px;
  text-align: center;
}

.edu {
  background-color: #FEE440;
  font-family: "Enigmatic", sans-serif;
  padding-left: 5%;
  padding-top: 5%;
}

.enigmatic {
  font-family: "Enigmatic", sans-serif;
}

.about {
  margin-top: 50px;
  margin-bottom: 50px;
}

.body {
  background-color: #DFD8CA;
}

.nav-item {
  margin: 0;
}

.nav-link {
  padding: 0;
}

.welcome {
  background-color: #DFD8CA;
  margin: 0;
  padding: 0;
}

#greetings h1 {
  font-size: 8vw;
}

#greetings p {
  font-size: 3vw;
}

.white-fancy {
  color: #105652;
  font-family: "Cumulus", sans-serif;
  font-size: 100px;
}

.cumulus-paragraph {
  color: #105652;
  font-family: "Cumulus", sans-serif;
  font-size: 2em;
}

.carousel-item {
  height: auto;
  padding-left: 2%;
  padding-right: 2%;
}

.cumulus-blue {
  color: #A2D2FF;
  font-family: "JaneAusten", sans-serif;
  font-size: 2em;
}

.inter {
  padding: 0;
}

.work_head {
  color: #FEF9EF;
  font-family: "Enigmatic", sans-serif;
  padding-bottom: 3%;
}

.work_head_black {
  color: #000;
  font-family: "Enigmatic", sans-serif;
  margin: 0;
  padding-top: 5px;
}

.other_work_text {
  font-family: "Enigmatic", sans-serif;
}

.other {
  margin-top: 10%;
}

.underline {
  text-decoration: underline;
}

.user-black {
  color: black;
}

.white {
  color: #FEF9EF;
  font-family: "Enigmatic", sans-serif;
}

#about .crossing {
  display: block;
  margin: auto;
  text-align: right;
  height: 30vw;
}

body {
  background: #DFD8CA;
  font-family: "Enigmatic", sans-serif;
}

h1 {
  color: black;
}

h3 {
  font-family: "JaneAusten", sans-serif;
  font-size: 2em;
}

h4 {
    padding: 2%;
}

p {
  color: black;
  font-family: "Enigmatic", sans-serif;
  font-size: 1.3em;
}

.row {
  padding-left: 5%;
  padding-right: 5%;
}
.col {
  width: 33%;
}

.card {
  color: #FBF3E4;
  background-color: #105652;
  margin-bottom: 10%;
}

.card-title {
  text-align: center;
}

.card-body {
  text-align: justify;
}

.cb2 {
  text-align: center;
}

.cb3 {
  text-align: right;
}

html, body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
